<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Classroom App</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/styles.css">
</head>
<body class = "indexBody">
  <h1>CSE3421 Classroom Application Project</h1>
  <p> <b>Team</b>: Matthew Fitzgerald, Donovan Murphy, David Tran, Justas Kuskevicius
  <div class="button-container">
    <a href="/take-attendance" class="button">Take Attendance</a>
    <a href="/classroom-chat" class="button">Classroom Chat</a>
    <a href="/wellness-survey" class="button">Conduct Wellness Survey</a>
  </div>
</body>
</html>

