<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Classroom App</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/styles.css">
</head>
<body class = "indexBody">
  <h1>CSE3421 Classroom Application Project</h1>
  <p>Please type in your username, password, and student ID.</p>
  <form id="login", method="POST" action="/login">
  <h3>Username</h3><input type="text" id="username" name="username">
  <h3>Password</h3><input type="password" id="password" name="password">
  <h3>Student ID</h3><input type="text" id="studentID" name="studentID"><br><br>
  <button type="submit">Submit</button>
    </form>
</body>
</html>

