<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Take Attendance</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <h1> Take Attendance </h1>
  <form id="attendanceForm" class="attendance-form" onsubmit="submitAttendance(event)">
    <% classList.forEach((student) => { %>
      <div class="student-item">
        <span class="student-name"><%= student.name %></span>
        <button type="button" onclick="toggleAttendance(this, <%= student.id %>)" class="<%= student.attendance_status === 'Here' ? 'present' : 'absent' %>">
          <%= student.attendance_status %>
        </button>
      </div>
    <% }) %>
    <button type="submit" class="submit-button">Submit</button>
  </form>
  <a href="/">Back to Home</a>
  <script>
    var attendanceUpdates = [];
    function toggleAttendance(button, studentId) {
      var currentStatus = button.textContent;
      var newStatus = currentStatus === 'Here' ? 'Absent' : 'Here';
      button.textContent = newStatus;
      button.className = newStatus === 'Here' ? 'present' : 'absent';
      attendanceUpdates[studentId] = newStatus;
    }
    function submitAttendance(event) {
      event.preventDefault();
      var updates = Object.keys(attendanceUpdates).map(studentId => ({
        studentId: studentId,
        attendanceStatus: attendanceUpdates[studentId]
      }));
      fetch('/update-attendance', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(updates)
      }).then(response => {
        if (response.ok) {
          window.location.href = '/take-attendance';
        } else {
          alert('Failed to update attendance. Please try again.');
        }
      });
    }
  </script>
</body>
</html>
