<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Wellness Survey</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <h1>Wellness Survey</h1>
  <form id="surveyForm" action="/submit-survey" method="post">
    <div class="question">
      <label for="studentName">Select Your Name:</label>
      <select id="studentName" name="studentId" required>
        <option value="">Select Name</option>
        <% students.forEach(function(student) { %>
          <option value="<%= student.id %>"><%= student.name %></option>
      <% }) %>
      </select>
      <span class="error" id="studentNameError"></span>
    </div>
    <div class="question">
      <label>How is your day going?</label>
      <input class="questionNumber" type="number" name="dayRating" min="1" max="5" required>
      <span class="error" id="dayRatingError"></span>
    </div>
    <div class="question">
      <label>How are you feeling physically?</label>
      <input class="questionNumber" type="number" name="physicalRating" min="1" max="5" required>
      <span class="error" id="physicalRatingError"></span>
    </div>
    <div class="question">
      <label>How are you feeling mentally?</label>
      <input class="questionNumber" type="number" name="mentalRating" min="1" max="5" required>
      <span class="error" id="mentalRatingError"></span>
    </div>
    <div class="question">
      <label>How is your overall well-being?</label>
      <input class="questionNumber" type="number" name="wellBeingRating" min="1" max="5" required>
      <span class="error" id="wellBeingRatingError"></span>
    </div>
    <div class="question">
      <label>How are you coping with stress?</label>
      <input class="questionNumber" type="number" name="stressRating" min="1" max="5" required>
      <span class="error" id="stressRatingError"></span>
    </div>
    <div class="question">
      <label>Any additional comments?</label>
      <textarea class ="commentsClass" name="comments" rows="4"></textarea>
    </div>
    <button type="submit" class="submit-button">Submit</button>
    <a href="/">Back to Home</a>
  </form>
</body>
</html>
